<table class="table m-3 table-hover">
  <thead class="thead-dark">
    <tr class="sticky-top">
      <th scope="col">Day</th>
      <th scope="col">Count</th>
    </tr>
  </thead>
  <% all_days.each do |count, date| %>
    <tbody>
      <tr>
        <!-- Puts date before day -->
        <td><%= date.to_date.strftime('%b %d, %A') %></td>
        <td><%= count %></td>
      </tr>
    </tbody>
  <% end %>
</table>
