<%= render 'shared/navbar' %>
<div class="container">
  <div class="d-flex">
    <div class="left-screen sticky-t-56">
      <%= render 'devices/device_history_components/form', day: @day, all_days: @all_days %>
    </div>
    <% if params[:device].nil? %>
      <p class="text-info my-4 mx-3">Please select a date</p>
    <% elsif @all_days %>
      <%= render 'devices/device_history_components/table', all_days: @all_days %>
    <% else %>
      <p class="text-danger my-4 mx-3">Date is not valid</p>
    <% end %>
  </div>
</div>






