

<div class="container">
  <%= render 'devices/device_history_components/form', date: @date %>
  <% if @splited_devices %>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Day</th>
          <th scope="col">Count</th>
        </tr>
      </thead>
    <% @splited_devices.each do |spl_dev| %>
        <tbody>
          <tr>
            <td><%= spl_dev[1].strftime('%A, %b %d') %></td>
            <td><%= spl_dev[0] %></td>
          </tr>
        </tbody>
      <% end %>
    </table>
  <% else %>
    <p class="text-info my-4 mx-3">Please Select a date</p>
  <% end %>
</div>






