<div class="container">
  <h3 class="text-secondary">Your security token is "<%= current_user.authentication_token %>"</h3>

  <%= render 'devices/index_components/form', day: @day %>

  <% if @occurrences %>
    <% if @occurrences.empty? %>
      <p class="text-info ml-3">No entries this day</p>
    <% else %>
      <%= render 'devices/index_components/table', occurrences: @occurrences %>
    <% end %>
  <% else %>
    <p class="text-info ml-3">Please Select a date</p>
  <% end %>
</div>






<!-- Alternative form_with instead of form_for or simple form which are
going to get deprecated soon.
Also, decided to write the form manually since I could not find a way to style
input helpers of form_with without sugesting me to change to form_for or simple
form. -->

<%#= form_with(url: root_path, method: 'get', class:"bg-primary") do %>
  <!-- <div class="form-group"> -->
      <%#= date_field(:device, :timestamp) %>
      <%#= submit_tag("Search!") %>
  <!-- </div> -->
<%# end %>
