<%= render 'shared/navbar' %>
<div class="container">
  <div class="d-flex">
    <div class="left-screen sticky-t-56">
      <%= render 'devices/index_components/form', day: @day %>
      <div class="relative">
        <%= link_to "", device_history_path, class:"absolute-0-0" %>
        <button class="btn btn-secondary m-4">Devise history!</button>
      </div>
    </div>

    <% if @devices %>
      <% if @devices.empty? %>
        <p class="text-info m-4">No entries this day</p>
      <% else %>
        <%= render 'devices/index_components/table', devices: @devices, day:@day %>
      <% end %>
    <% else %>
      <p class="text-info my-4 mx-3">Please select a date</p>
    <% end %>
  </div>
</div>






<!-- Alternatives for form_with are form_for and simple_form which are
going to get deprecated soon.
Also, decided to write the form manually since I could not find a way to style
input helpers of form_with without sugesting me to change to form_for or simple
form. -->

<%#= form_with(url: root_path, method: 'get', class:"bg-primary") do %>
  <!-- <div class="form-group"> -->
      <%#= date_field(:device, :timestamp) %>
      <%#= submit_tag("Search!") %>
  <!-- </div> -->
<%# end %>
