<form action="/" class="search-form m-4">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <div class="form-group">
      <label for="device_timestamp">Select day</label>
      <% if @occurrences %>
        <input required type="date" name="device[timestamp]" id="device_timestamp" class="form-control" value=<%= day %>>
      <% else %>
        <input required type="date" name="device[timestamp]" id="device_timestamp" class="form-control">
      <% end %>
    </div>
    <button type="submit" class="btn btn-primary btn-lg btn-block">Go!</button>
  </form>
